<div class="animated fadeIn">
  <div class="row">
    <div  class="col-sm-5">
      <div class="card">
        <div class="card-header">
          {{car.brandName}} 
        </div> 
        <div class="card-body">
          <carousel >
            <slide *ngFor="let carImage of car.carImages" >
              <img   src="https://localhost:44331/Images/{{carImage.imagePath}}" alt="{{car.brandName}}" style="display: block; width: 100%;">
            </slide>
            
          </carousel>
        </div>
      </div>
    </div> 
    <div class="col-sm-7">
      <div class="card">
        <div class="card-header">
            <strong> Günlük Ücret : {{car.dailyPrice}} TL </strong>
            <code>Kiralanabilir</code>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <strong>Marka :</strong>
                  {{car.brandName}}
              </div>
              <div class="form-group">
                <strong>İsim :</strong>
                  {{car.name}}
              </div>
              <div class="form-group">
                <strong>Model Yılı :</strong>
                  {{car.modelYear}}
              </div>

              <div class="form-group">
                <strong> Renk : </strong>
                {{car.colorName}}
              </div>
              <div class="form-group">
                <strong>Açıklama :</strong>
                  {{car.description}}
              </div>
              
            </div>
            <div class="col-sm-6">
              <br>
              <br>
              <form>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary "> Arabayı Güncelle </button>
                </div>
                <div class="form-group">
                <button class="btn btn-lg btn-primary "> Arabayı Kirala </button>
                  </div>
              </form>
            </div>
        </div>
        </div>  
      </div>
    </div>                 
  </div>
</div>
